<!DOCTYPE html>
<html style="color:black">
<head>
    <title>Hackademy | About</title>
    <meta name = "viewport" content = "width=device-width, initial-scale=1">
    <link rel = "stylesheet" type = "text/css" href = "/../static/css/bootstrap.min.css">
    <link rel = "stylesheet" type = "text/css" href = "/../static/css/bootstrap_override.css">
    <link rel = "icon" type="image/png" href = "/../static/logo/hackademy_emblem_maroon_png-copy.png">
    
</head>
<body>
    <header>
        <ul class = "breadcrumb">
            <li><a href = "">Hackademy</a> </span></li>
            <li class = "active">About</li>
        </ul>

    <div class = "jumbotron">
        <div class = "row">
            <div class = "logo-here"><a href="http://hackademy.ingenuity.ph"></a></div>
        </div>
    </div>
    
    <div class = "hero-unit">
        <div class = "container-fluid">
            <h1 class="page-header">What is it and why did we create it?</h1>

            <p>In today’s digital age, we believe that everyone, and not just a lucky few, should be given access to learn the necessary programming skills to become more successful in the future. Hackademy aims to provide an environment to do this all in a way that’s fun, accessible, and affordable.</p>

            <p>Through this initiative, students will learn problem-solving and programming skills from professional software engineers, build amazing projects, and together shape the future of our country’s digital economy.</p>
        </div>
    </div>
    </header>

        <div class="jumbotron">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4">
                        <img src="/../static/images/cert2.jpg" class="center-block">
                    </div>
                    <div class="col-md-4">
                        <img src="/../static/images/cert3.jpg" class="center-block">
                    </div>
                    <div class="col-md-4">
                        <img src="/../static/images/cert4.jpg" class="center-block">
                    </div>
                </div>
            </div>
        </div>

</body>
    <script src = "/../static/js/bootstrap.min.js"></script>
</html>