<!DOCTYPE html>
<html>
<head>
    <meta name = "viewport" content = "width=device-width, initial-scale=1">
    <link rel = "icon" type="image/png" href = "/../static/logo/hackademy_emblem_maroon_png-copy.png">
    <link rel = "stylesheet" type = "text/css" href = "/../static/css/bootstrap.min.css">
    <link rel = "stylesheet" type = "text/css" href = "/../static/css/contactUs_override.css">
</head>
<header>
    
</header>
<body>
    <h2>Contact Us</h2>
    <form>
        <fieldset class="form-group">
            <label>Name</label>
            <textarea class="form-control" id="guest_name" rows="1"></textarea>
        </fieldset>
        <fieldset class="form-group">
            <label>Email</label>
            <input type="email" class="form-control" id="guest_email"></input>
            <small class="text-muted">We'll never share your email to anyone.</small>
        </fieldset>
        <fieldset class="form-group">
            <label>Your Message</label>
            <textarea class="form-control" id="guest_message" rows="3"></textarea>
        </fieldset>
    </form>
</body>
</html>