<!DOCTYPE html>
<html>
<head>

</head>
<body>
    <img src="/../static/images/jefford1.jpg">
    <p align="justify">The quick brown fox jumped over the lazy dog. The quick brown fox jumped over the lazy dog. The quick brown fox jumped over the lazy dog. The quick brown fox jumped over the lazy dog.</p>

</body>
    <script src="/../static/js/jquery.min.js"></script>
    <script src="/../static/js/bootstrap.min.js"></script>
</html>

<!-- <div class="container">
        <div class="container-fluid">
            <div class="btn">
                <div class="btn-back">
                    <h1>Name Holder</h1>
                    <button class="yes">Li</button>
                </div>
            <div class="btn-front">
                <div class="container-fluid">
                    <img src="/../static/images/jefford1.jpg" align="left">
                    <h1 class="placeholder">Name Holder</h1>
                                                
                    <p align="justify">The quick brown fox jumped over the lazy dog. The quick brown fox jumped over the lazy dog. The quick brown fox jumped over the lazy dog. The quick brown fox jumped over the lazy dog.</p>
                                                
                </div> 
            </div>
        </div>
    </div> -->