<!DOCTYPE html>
<html>
<head>
	<title>Hackademy</title>
	<link rel="icon" type="image/png" href="/../static/logo/hackademy_emblem_maroon_png-copy.png" sizes="16x16">
	<link rel="stylesheet" type="text/css" href="/../static/css/styles.css">
	<link rel="stylesheet" type="text/css" href="/../static/css/main.css">
	<link rel="stylesheet" type="text/css" href="/../static/css/component.css">

	<!--nav bar here-->
		<header class="banner">
	        <nav class="container">
	            <a href="index.html"><img src="/../static/logo/hackademy_full_white_png-1024x205.png" id="header_name"></a>

	            <ul class="nav">
	            	<li class="nav__item"><nav class="cl-effect-21"><a href="index.html">HOME</a></nav></li>
	            	<li class="nav__item"><nav class="cl-effect-21"><a href="index.html">ABOUT</a></nav></li>
	            	<li class="nav__item"><nav class="cl-effect-21"><a href="index.html">CONTACT</a></nav></li>
	            	<li class="nav__item"><nav class="cl-effect-21"><a href="index.html">TRAINERS</a></nav></li>
	            	<li class="nav__item"><nav class="cl-effect-21"><a href="index.html">ENROLL</a></nav></li>
	                <li class="nav__item"><div id="login"><button class="button button1">LOGIN</button></div></li>
	            </ul>
	        </nav>
	    </header>
</head>

<body>
</body>
</html>