<!DOCTYPE html>
<html>
<head>
	<title>Hackademy</title>
	<link rel="icon" type="image/png" href="/../static/logo/hackademy_emblem_maroon_png-copy.png" sizes="16x16">
	<link rel="stylesheet" type="text/css" href="/../static/css/styles.css">
	<link rel="stylesheet" type="text/css" href="/../static/css/main.css">
	<link rel="stylesheet" type="text/css" href="/../static/css/component.css">
</head>
<body>
	<div id="slider">
		<figure>
			<img class="sliderImage" src="/../static/images/im1.png" alt>
			<div class="sliderImage" >
				<button id="jr" class="button">Hackademy Jr.</button>
				<img src="/../static/images//im2.png" alt>
			</div>
			<img class="sliderImage" src="/../static/images//im3.png" alt>
			<img class="sliderImage" src="/../static/images//im4.png" alt>
			<img class="sliderImage" src="/../static/images//im0.png" alt>
		</figure>
	</div>
</body>
</html>

