<!DOCTYPE html>
<html>
<head>
	<title>Hackademy</title>
	<link rel="icon" type="image/png" href="/../static/logo/hackademy_emblem_maroon_png-copy.png" sizes="16x16">
	<link rel="stylesheet" type="text/css" href="/../static/css/styles.css">
	<link rel="stylesheet" type="text/css" href="/../static/css/main.css">
	<link rel="stylesheet" type="text/css" href="/../static/css/component.css">
</head>
<body>
	<div class="slider2">
		<figure>
			<div class="testimonials">
				<img src="/../static/images/kyle-69x69.png" alt>
				<strong><p class="test">Kyle Nathan Naranjo</p></strong>
				<p>Grade 9 Student, Philippine Science High School</p>
				<p>The Hackademy experience was so much fun! The mentors were brilliant and enthusiastic. Not only did we do lectures and coding exercises, we also participated in several games like the cup stacking robot game, PANTS, and many others. We were also shown a variety of videos ranging from the “Hour of Code” to “Pair Programming”, all of which were worthwhile. Everyone was really grateful for the experience.<br> <br>

				Not only did I make friends, I also learned a lot. I learned about Python, Django, Git, and Bootstrap, but most of all, I learned how simple people, through the power of coding, can have an enormous impact in our current society.
				</p>
			</div>
			<div class="testimonials">
				<img src = "/../static/images/jabiel1-69x69.jpg">
				<strong><p>John Abiel Villanueva</p></strong>
				<p>Grade 10 Student, Philippine Science High School</p>
				<p>To be training in Hackademy is more than just a coder’s journey,
				A walk through python, a coding marathon.
				A task to do, we readily said I do,
				With the use of GIT, we made it!
				Hackademy taught me a lot, you should give it a shot.
				This is short, but you’ll learn to sort.
				Hackademy I really like you, thank you for allowing me to get through</p>
			</div>
			<div class="testimonials">
				<img src = "/../static/images/matthew-69x69.jpg">
				<strong><p>Matthew Karl Arpas</p></strong>
				<p>Grade 10 Student, Philippine Science High School</p>
				<p>I learned so much in such a short amount of time thanks to mentors who made programming look easy! Thanks to you, programming now means more to me than what it used to. To top it off, you gave us a very valuable skillset that will help us in our future!</p>
			</div>
			<div class="testimonials">
				<img src = "/../static/images/leener1-69x69.jpg">
				<strong><p>Leener Kaye Alucilja</p></strong>
				<p>Grade 9 Student, Philippine Science High School</p>
				<p>The 2 weeks of training at Hackademy was both very challenging and fun-filled! We made some friends including our mentors.Not only did we learn about Python, Django, Git and Web Design, but we also started on a major project that can help our school-and maybe the whole Pisay system- with the guidance of our instructors. Hackademy showed me that programming is awesome and so much fun!</p>
			</div>

			<!--<div class="testimonials">
				<img src = "/../static/images/yyoni-69x69.jpg">
				<strong><p>Yevgenia Martela Cabiles</p></strong>
				<p>Grade 9 Student, Philippine Science High School</p>
				<p> This 10-day training was really enjoyable and fun at the same time a learning experience to us. With an awesome venue and great mentors the training was really a great opportunity to enhance our programming skills and also a chance to exercise our minds through some challenging activities and exercises. I’m really thankful that I was part of the Hackademy along with the other students. It was the most productive 10 days of my life!

				I hope that there would be more trainings like this and I hope more students like me could participate because a skill in programming is much more than what we think it is. It is a medium to change the world if used in a good way!
				</p>
			</div>-->
			<div class="testimonials">
				<img src="/../static/images/kyle-69x69.png" alt>
				<strong><p class="test">Kyle Nathan Naranjo</p></strong>
				<p>Grade 9 Student, Philippine Science High School</p>
				<p>The Hackademy experience was so much fun! The mentors were brilliant and enthusiastic. Not only did we do lectures and coding exercises, we also participated in several games like the cup stacking robot game, PANTS, and many others. We were also shown a variety of videos ranging from the “Hour of Code” to “Pair Programming”, all of which were worthwhile. Everyone was really grateful for the experience.<br> <br>

				Not only did I make friends, I also learned a lot. I learned about Python, Django, Git, and Bootstrap, but most of all, I learned how simple people, through the power of coding, can have an enormous impact in our current society.
				</p>
			</div>

			<!--<div class="testimonials">
				<img src = "/../static/images/lutherr-69x69.jpg">
				<p>Lutherr Neill Tapiz</p>
				<p>Grade 9 Student, Philippine Science High School</p>
				<p> I learned a lot of things when I attended Hackademy. I’d never imagined a fun atmosphere with cool guys while learning in such a fast pace. The experience in the Hackademy was so unique and fun, something we haven’t experienced before, and something that I will forever treasure!
				</p>
			</div>-->
		</figure>
	</div>
</body>
</html>






<!--<div class="slider2">
		<figure>
			<div class="testimonials">
				<img src="/../static/images/kyle-69x69.png" alt>
				<p class="test">Kyle Nathan Naranjo</p>
				<p>Grade 9 Student, Philippine Science High School</p>
				<p>When my CS Teacher invited me to Hackademy, I thought it would just be a seminar full of boring stuff about programming and such. Nevertheless, I joined, mainly to kill time during the remaining days of my summer vacation. Alas, it was the exact opposite! I had a lot of fun while learning great things at the same time, it was all worth it. I am truly grateful for the opportunity, and I thank all our mentors!</p>
			</div>
			<div class="testimonials">
				<img src="/../static/images/uriel-69x69.jpg" alt>
				<p>Uriel Negrido</p>
				<p>Grade 9 Student, Philippine Science High School</p>
				<p>When my CS Teacher invited me to Hackademy, I thought it would just be a seminar full of boring stuff about programming and such. Nevertheless, I joined, mainly to kill time during the remaining days of my summer vacation. Alas, it was the exact opposite! I had a lot of fun while learning great things at the same time, it was all worth it. I am truly grateful for the opportunity, and I thank all our mentors!</p>
			</div>
			<div class="testimonials">
				<img src="/../static/images/matthew-69x69.jpg" alt>
				<p>Some Text</p>
				<p>Some Text</p>
				<p>I learned so much in such a short amount of time thanks to mentors who made programming look easy! Thanks to you, programming now means more to me than what it used to. To top it off, you gave us a very valuable skillset that will help us in our future!</p>
			</div>
			<div class="testimonials">
				<img src="/../static/images/leener1-69x69.jpg" alt>
				<p>Some Text</p>
				<p>Some Text</p>
				<p>The 2 weeks of training at Hackademy was both very challenging and fun-filled! We made some friends including our mentors.Not only did we learn about Python, Django, Git and Web Design, but we also started on a major project that can help our school-and maybe the whole Pisay system- with the guidance of our instructors. Hackademy showed me that programming is awesome and so much fun!</p>
			</div>
			<div class="testimonials">
				<img src="/../static/images/yyoni-69x69.jpg" alt>
				<p>Some Text</p>
				<p>Some Text</p>
				<p>Hackademy taught me a lot. The 2-week training expanded my programming horizons. I was able to program in a new language — Python. Compared to Java, which is the other programming language I know, Python is a lot easier. The codes are shorter and more semantic. The training was successful because the awesome mentors gave us a lot of hands-on activities and assignments!

				Truthfully, I am thankful that I am part of the pioneering batch of Hackademy. I am thankful that this program was launched. I do hope that more students will be able to join Hackademy!
				</p>
			</div>
			<div class="testimonials">
				<img src="/../static/images/jabiel1-69x69.jpg" alt>
				<p>John Abiel Villanueva</p>
				<p>Grade 10 Student, Philippine Science High School</p>
				<p>To be training in Hackademy is more than just a coder’s journey,
				A walk through python, a coding marathon.
				A task to do, we readily said I do,
				With the use of GIT, we made it!
				Hackademy taught me a lot, you should give it a shot.
				This is short, but you’ll learn to sort.
				Hackademy I really like you, thank you for allowing me to get through</p>
			</div>
		</figure>
	</div>-->