 <!DOCTYPE html>
<html style="color:black">
<head>
    <title>Hackademy | Trainers</title>
    <meta name = "viewport" content = "width=device-width, initial-scale=1">
    <link rel = "stylesheet" type = "text/css" href = "/../static/css/bootstrap.min.css">
    <link rel = "stylesheet" type = "text/css" href = "/../static/css/bootstrap_override.css">
    <link rel="stylesheet" type="text/css" href="/../static/css/bootstrap_override_trainers.css">
    <link rel = "icon" type="image/png" href = "/../static/logo/hackademy_emblem_maroon_png-copy.png">
    
</head>
<body>
        <div class="jumbotron" style="margin-bottom: 0px">
            <h1 class="placeholder">Header</h1>
        </div>
        
        <div class="hero-unit">
            <div class="container-fluid" style="padding-bottom: 30px; padding-top: 30px; padding-left: 30px; padding-right: 30px;">
                <div class="row">
                    <!-- <div class="hero-unit"> -->

                            <div class="col-md-6">
                                <div>
                                    <div>
                                        {% include "course_trainer_profile.html" %}
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6" >
                                {% include "course_trainer_profile.html" %}
                            </div>

                            <div class="col-md-6">
                                
                            </div>

                            <div class="col-md-6">
                                
                            </div>

                            <div class="col-md-6">
                                
                            </div>

                            <div class="col-md-6">
                                
                            </div>

                    <!-- </div> -->
                            
                </div>
                    
            </div>
        </div>
        

        <div class="jumbotron">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4">
                        <img src="/../static/images/cert2.jpg" class="center-block">
                    </div>
                    <div class="col-md-4">
                        <img src="/../static/images/cert3.jpg" class="center-block">
                    </div>
                    <div class="col-md-4">
                        <img src="/../static/images/cert4.jpg" class="center-block">
                    </div>
                </div>
            </div>
        </div>

        <div class="jumbotron" style="margin-bottom: 0px">
            <h1 class="placeholder">Footer</h1>
        </div>

</body>
    {% load staticfiles %}
    <script src = "{% static "/js/jquery.min.js" %}"></script>
    <script src = "{% static "/js/bootstrap.min.js"%}"></script>
</html>