    <!DOCTYPE html>
<html style="color:black">
<head>
    <title>Hackademy | Trainers</title>
    <meta name = "viewport" content = "width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/../static/css/style.css">
    <link rel = "stylesheet" type = "text/css" href = "/../static/css/bootstrap.min.css">
    <link rel = "stylesheet" type = "text/css" href = "/../static/css/bootstrap_override.css">
    <link rel = "icon" type="image/png" href = "/../static/logo/hackademy_emblem_maroon_png-copy.png">
    
</head>
<body>
        <div class="jumbotron" style="margin-bottom: 0px">
            <h1 class="placeholder">Header</h1>
        </div>
        
        <div class="hero-unit">
            <div class="container-fluid" style="padding-bottom: 30px; padding-top: 30px; padding-left: 30px; padding-right: 30px;">
                <div class="row">
                    <div class="hero-unit">
                        <div class="container btn-group">

                            <div class="col-md-6">
                                <div class="container-fluid">
                                    <div class="btn">
                                        <div class="btn-back">
                                            <h1>Name Holder</h1>
                                            <button class="yes">Li</button>
                                            <button class="no">Tp</button>
                                        </div>
                                        <div class="btn-front">
                                            <div class="container-fluid">
                                                <img src="/../static/images/jefford1.jpg" align="left">
                                                <h1 class="placeholder">Name Holder</h1>
                                                
                                                    <p align="justify">The quick brown fox jumped over the lazy dog. The quick brown fox jumped over the lazy dog. The quick brown fox jumped over the lazy dog. The quick brown fox jumped over the lazy dog.</p>
                                                
                                            </div> 
                                        </div>
                                    </div>
                                </div> 
                            </div>

                            <div class="col-md-6" >
                                <div class="container-fluid">
                                    <div class="btn">
                                        <div class="btn-back">
                                            <h1>Name Holder</h1>
                                            <button class="yes">Li</button>
                                            <button class="no">Tp</button>
                                        </div>
                                        <div class="btn-front">
                                            <div class="container-fluid">
                                                <img src="/../static/images/june.jpg" align="left">
                                                <h1 class="placeholder">Name Holder</h1>
                                                
                                                    <p align="justify">The quick brown fox jumped over the lazy dog. The quick brown fox jumped over the lazy dog. The quick brown fox jumped over the lazy dog. The quick brown fox jumped over the lazy dog.</p>
                                                
                                            </div> 
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="container-fluid">
                                    <div class="btn">
                                        <div class="btn-back">
                                            <h1>Name Holder</h1>
                                            <button class="yes">Li</button>
                                            <button class="no">Tp</button>
                                        </div>
                                        <div class="btn-front">
                                            <div class="container-fluid">
                                                <img src="/../static/images/mancio1.jpg" align="left">
                                                <h1 class="placeholder">Name Holder</h1>
                                                
                                                    <p align="justify">The quick brown fox jumped over the lazy dog. The quick brown fox jumped over the lazy dog. The quick brown fox jumped over the lazy dog. The quick brown fox jumped over the lazy dog.</p>
                                                
                                            </div> 
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="container-fluid">
                                    <div class="btn">
                                        <div class="btn-back">
                                            <h1>Name Holder</h1>
                                            <button class="yes">Li</button>
                                            <button class="no">Tp</button>
                                        </div>
                                        <div class="btn-front">
                                            <div class="container-fluid">
                                                <img src="/../static/images/nap1.jpg" align="left">
                                                <h1 class="placeholder">Name Holder</h1>
                                                
                                                    <p align="justify">The quick brown fox jumped over the lazy dog. The quick brown fox jumped over the lazy dog. The quick brown fox jumped over the lazy dog. The quick brown fox jumped over the lazy dog.</p>
                                                
                                            </div> 
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="container-fluid">
                                    <div class="btn">
                                        <div class="btn-back">
                                            <h1>Name Holder</h1>
                                            <button class="yes">Li</button>
                                            <button class="no">Tp</button>
                                        </div>
                                        <div class="btn-front">
                                            <div class="container-fluid">
                                                <img src="/../static/images/pat1.jpg" align="left">
                                                <h1 class="placeholder">Name Holder</h1>
                                                
                                                    <p align="justify">The quick brown fox jumped over the lazy dog. The quick brown fox jumped over the lazy dog. The quick brown fox jumped over the lazy dog. The quick brown fox jumped over the lazy dog.</p>
                                                
                                            </div> 
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="container-fluid">
                                    <div class="btn">
                                        <div class="btn-back">
                                            <h1>Name Holder</h1>
                                            <button class="yes">Li</button>
                                            <button class="no">Tp</button>
                                        </div>
                                        <div class="btn-front">
                                            <div class="container-fluid">
                                                <img src="/../static/images/ray1.jpg" align="left">
                                                <h1 class="placeholder">Name Holder<h1>
                                                
                                                    <p align="justify">The quick brown fox jumped over the lazy dog. The quick brown fox jumped over the lazy dog. The quick brown fox jumped over the lazy dog. The quick brown fox jumped over the lazy dog.</p>
                                                
                                            </div> 
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                            
                </div>
                    
            </div>
        </div>
        

        <div class="jumbotron">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4">
                        <img src="/../static/images/cert2.jpg" class="center-block">
                    </div>
                    <div class="col-md-4">
                        <img src="/../static/images/cert3.jpg" class="center-block">
                    </div>
                    <div class="col-md-4">
                        <img src="/../static/images/cert4.jpg" class="center-block">
                    </div>
                </div>
            </div>
        </div>

        <div class="jumbotron" style="margin-bottom: 0px">
            <h1 class="placeholder">Footer</h1>
        </div>

</body>
    <script src="/../static/js/jquery.min.js"></script>
    <script src = "/../static/js/bootstrap.min.js"></script>
    <script src="/../static/js/script.js"></script>
</html>